body {
  background: #2c2b3d;
  margin: 0;
  min-width: 100vh;
  font-family: "JetBrains Mono", monospace;
}

nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 71px 98px 101px 99px;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

ul li a:hover {
  opacity: 1;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main img {
  position: absolute;
  left: 100px;
  right: 780px;
}
section {
  margin-left: 582px;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
}

h1 span {
  color: #00bfa6;
}

section p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 604px;
  color: #c2c2c2;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

section p strong {
  font-weight: 700;
}

section p span {
  color: #00bfa6;
  font-weight: 700;
}

footer {
  margin: 200px auto 23px;
  width: 570px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer #line {
  width: 570px;
  height: 0;
  margin-bottom: 27px;
  border: 1px solid #00bfa6;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
